<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Reserver la seance</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Reservation Seance</h4>

      </div>
      <div class="modal-body">
      
         <%= simple_form_for [@mentor, Reservation.new] do |f| %>
      <div class="field">
      <p>  Matiere: </p> 
        <%= f.collection_select :matiere_id, Matiere.where(user_id: @mentor.user.id), :id, :name, {promt: "choose a category"}, input_html: { class: "form-toggle"}, class: "form-control" %>         
      </div>
      <div class="field"> 
        <%= f.input :date, class: "form-control" %> 
      </div> 
      <div class="action">  
         <%= f.button :submit, class: "btn btn-primary" %>
      </div>
        <% end %>   

      </div>
      <div class="modal-footer">
   
      </div>
   
    </div>
  </div>
</div>
